#!/usr/bin/make -f

DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake

build:
	dh_testdir
	dh_prep
	make all

binary:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

