#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake+ninja


override_dh_auto_configure:
	install -d obj-x86_64-linux-gnu
	cd obj-x86_64-linux-gnu/ && cmake -GNinja -DCMAKE_INSTALL_PREFIX:PATH=`pwd`/debian/tmp -DCMAKE_BUILD_TYPE:String="None" ../duckdb


override_dh_auto_test:
	@echo "Skipping tests"
