#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake+ninja


override_dh_auto_configure:
	$(eval ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH))
	install -d "obj-$(ARCH)-linux-gnu"
	cd "obj-$(ARCH)-linux-gnu/" && cmake -GNinja -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:String="None" ../duckdb


override_dh_auto_test:
	@echo "Skipping tests"
