Source: duckdb
Section: database
Priority: optional
Maintainer: Elliana May <me@mause.me>
Build-Depends: ninja-build, git, g++ (>= 5.0), cmake (>= 3.15), debhelper (>= 11)
Homepage: https://duckdb.org
Standards-Version: 4.6.0.1
Vcs-Git: https://github.com/Mause/duckdb_ppa.git
Vcs-Browser: https://github.com/Mause/duckdb_ppa
Description: Embeddable SQL OLAP database management system
 It is designed to be easy to install, with no external dependencies, and optimized for fast
 query performance. DuckDB is written in C++ and provides a SQL interface compliant with the SQL:2016 standard.

Package: libduckdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shared library distribution of DuckDB libraries
 ${source:Synopsis}

Package: libduckdb-static
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Static distribution of DuckDB libraries
 ${source:Synopsis}

Package: libduckdb-dev
Architecture: any
Depends: libduckdb (= ${binary:Version}), ${misc:Depends}
Description: Headers for libduckdb.
 ${source:Synopsis}

Package: duckdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command line interface for DuckDB
 ${source:Synopsis}
