#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake+ninja


override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_EXTENSIONS="parquet;jemalloc;icu;json;autocomplete" -DOVERRIDE_GIT_DESCRIBE="v1.0.0-0-g1f98600c2c"


override_dh_auto_test:
	@echo "Skipping tests"
